Codigos de proyecto/Codigo de envio espcam mqtt/2mqtt_esp32/flows.json
[
    {
        "id": "77f2e46bd0b9a095",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4c7eb00f1c7b4b8d",
        "type": "e-mail",
        "z": "77f2e46bd0b9a095",
        "server": "smtp.gmail.com",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": true,
        "tls": true,
        "name": "",
        "dname": "",
        "x": 670,
        "y": 300,
        "wires": []
    },
    {
        "id": "f896dad18e692a16",
        "type": "inject",
        "z": "77f2e46bd0b9a095",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "prestamo/regreso",
        "payload": "codigo iot",
        "payloadType": "str",
        "x": 140,
        "y": 120,
        "wires": [
            [
                "92f5c9e86b1fb204"
            ]
        ]
    },
    {
        "id": "92f5c9e86b1fb204",
        "type": "mqtt out",
        "z": "77f2e46bd0b9a095",
        "name": "",
        "topic": "inTopic",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2c9f91ce5d0b720c",
        "x": 580,
        "y": 120,
        "wires": []
    },
    {
        "id": "91a96e42d3aded3b",
        "type": "debug",
        "z": "77f2e46bd0b9a095",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 200,
        "wires": []
    },
    {
        "id": "d1bac3d3bb1edfa1",
        "type": "mqtt in",
        "z": "77f2e46bd0b9a095",
        "name": "",
        "topic": "outTopic",
        "qos": "2",
        "datatype": "utf8",
        "broker": "2c9f91ce5d0b720c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 220,
        "wires": [
            [
                "f5869908907acf77"
            ]
        ]
    },
    {
        "id": "259f056e1a7b30ef",
        "type": "function",
        "z": "77f2e46bd0b9a095",
        "name": "function 1",
        "func": "// @ts-nocheck\nTitulomsg = \" Mensaje sobre prestamo de kit iot \" + \" \\n \" + Date().toString();\nmensaje = \" el kit #\"+  msg.payload + \" ha sido prestado \"  ; \n\nmsg={\n    \n    payload: mensaje,\n    to: \"jonhlove2@gmail.com\",\n    topic: Titulomsg \n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 220,
        "wires": [
            [
                "91a96e42d3aded3b",
                "4c7eb00f1c7b4b8d"
            ]
        ]
    },
    {
        "id": "f5869908907acf77",
        "type": "trigger",
        "z": "77f2e46bd0b9a095",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "0",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "topic",
        "topic": "action",
        "outputs": 1,
        "x": 340,
        "y": 340,
        "wires": [
            [
                "259f056e1a7b30ef"
            ]
        ]
    },
    {
        "id": "2c9f91ce5d0b720c",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.emqx.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]